*{
    font-family: 'Ubuntu', sans-serif;
}




/* --------BANER STUF--------*/
.text_over_baner_container{
    position: flex;
    align-items: center;

}

.text_over_baner{
    position: absolute;
    color: black;
    top: 30%;
    left: 44%;
    font-size: 100px;
}